<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="/adminlogin.css" rel="stylesheet">
</head>
<body>
    <h3 class="blinking">Admin Portal</h3>
    <form method="post" action="/admin">
        <input placeholder="Enter email" name="email" type="email"><br><br>
        <input placeholder="Enter password" name="password" type="password">
        <button>submit</button>
    </form>
</body>
</html>