<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <link href="/register.css" rel="stylesheet">
</head>
<body>
    <form method="post" action="/register">
        <input placeholder="Enter name" name="name" type="text">
        <input placeholder="Enter email" name="email" type="email">
        <input placeholder="Enter password" name="password" type="password">
        <button>Submit</button>
        <h4>Already Account</h4>
        <a href="/login">Login</a>
    </form>
  
</body>
</html>