<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="/userlogin.css" rel="stylesheet">
</head>
<body>
    <h3 class="blinking">User Portal</h3>
    <form method="post" action="/project">
        <input placeholder="Enter email" name="email" type="email"><br><br>
        <input placeholder="Enter password" name="password" type="password">
        <button>submit</button>
        <h4>No Account go to </h4>
        <a href="/register">Register </a>
    </form>
   
</body>
</html>